@media only screen and (max-width: 300px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 300px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }
}

@media only screen and (max-width: 300px) {
#container{flex:max-content;flex-wrap: wrap}  #small {display:inline-block}
}

@media only screen and (min-width: 300px) {
    #container {flex: max-content} {flex-wrap: wrap} {margin:auto}
#small{max-width: 66%}  #medium{max-width: 33%}  #large{max-width: 100%}
}

@media only screen and (min-width: 768px) {
    #container {
        padding: 0;
        margin: 0;
        list-style: none;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        justify-content: flex-start;
    }

#small, #medium, #large {display:inline-block;}

    #small {width: 30%}
    #large {width:30%}
}



/*

@media only screen and (max-width: 300px) {
    #medium {
        display: none;
    }
}


@media only screen and (max-width: 300px) {
    #large {
        display: none;
    }
}



@media only screen and (min-width: 300px) {
    #small {
        display: none;
    }
}


@media only screen and (min-width: 300px) {
    #large {
        display: none;
    }
}




@media only screen and (min-width: 768px) {
    #medium {
        display: none;
    }
}


@media only screen and (min-width: 768px) {
    #small {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #large {
        display: block;
    }
}



/* @media only screen and (orientation: portrait) {
    body {
        background-color:yellow;
    }
}
*/

/*

@media only screen and (max-width: 300px) {
    #small
}

@media only screen and (min-width: 301px) {
    #medium
}

@media only screen and (min-width: 768px) {
    #large
}

*/